.facebook-logo {
    display: inline-block;
    z-index: 99;
    width: 20px;
    margin-bottom: -2px;
}

.instagram-logo {
    display: inline-block;
    z-index: 99;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 2.5px;
    margin-right: 2px;
}

.snapchat-logo {
    display: inline-block;
    z-index: 99;
    width: 12px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 4px;
}

.LinkedIn-logo {
    display: inline-block;
    z-index: 99;
    width: 10.5px;
    margin-bottom: -1px;
    margin-left: 4.5px;
    margin-right: 4px;
}

.email-logo {
    display: inline-block;
    z-index: 99;
    width: 10.5px;
    margin-bottom: -1px;
    margin-left: 4.5px;
    margin-right: 4px;
}

.whatsapp-logo {
    display: inline-block;
    z-index: 99;
    width: 10.5px;
    margin-bottom: -1px;
    margin-left: 4.5px;
    margin-right: 4px;
}

.discord-logo {
    display: inline-block;
    z-index: 99;
    width: 10.5px;
    margin-bottom: -1px;
    margin-left: 4.5px;
    margin-right: 4px;
}