body {
    font-family: 'Montserrat', sans-serif;
}

/* img {
    width: 20px;
} */

.email-icon {
    width: 20px;
}

.telephone-image {
    width: 20px;
}

.profile-picture {
    margin-right: 250px;
}

a {
    text-decoration-line: none;
}

.category-titles {
    padding-left: 25px;
}

.header-resume {
    text-align: center;
}

.email-text {
    margin-top: -20px;
    padding-left: 10px;
    color: black;
}

.telephone-image {
    margin-left: 20px;
}

.telephone-number {
    padding-left: 10px;
    margin-top: -60px;
    color: black;
}

.linkedin-text {
    padding-left: 10px;
    padding-top: -30px;
    color: cornflowerblue;
}

.linkedin-information {
    margin-top: 2px;
}

.linkedin-image {
    margin-top: 10px;
    width: 20px;
}

.location-informations {
    margin-top: -20px;
    font-weight: 350;
}

.email-and-telephone {
    margin-top: 30px;
}

.summary {
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

.about-me-info {
    margin-top: -15px;
    margin-right: 1000px;
    margin-left: 350px;
    margin-bottom: -90px;
    font-size: 15px;
    text-align: center;
}

.experience {
    margin-top: 40px;
    text-align: center;
}

.experience-list {
    margin-top: -10px;
    list-style: none;
}

.experience-category {
    font-size: 20px;
    margin-top: 35px;
}

.institution-name {
    margin-top: -10px;
    font-weight: 400;
    font-size: 20px;
}

.period-of-time {
    margin-top: -10px;
    font-weight: 400;
    font-size: 15px;
}

.education {
    margin-top: 40px;
    text-align: center;
}

.education-list {
    margin-top: -10px;
    list-style: none;
}

.licenses-certifications {
    margin-top: 40px;
    text-align: center;
}

.certification-name {
    font-size: 20px;
    margin-top: 35px;
}

.accreditation-number {
    margin-top: -10px;
    font-weight: 400;
    font-size: 15px;
}

.verification-number {
    margin-top: -10px;
    font-weight: 400;
    font-size: 15px;
}

.skills {
    margin-top: 40px;
    text-align: center;
}

.skills-list {
    margin-top: -10px;
    font-weight: 500;
    list-style: none;
}


.licenses-certifications-list {
    margin-top: -10px;
    list-style: none;
    padding-left: 0;
    /* Remove default padding */
}

.cambridge-certification {
    background-image: url("images/university-of-cambridge.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    /* Adjust the padding to make room for the background image */
}

.cambridge-certification .certification-name,
.cambridge-certification .institution-name,
.cambridge-certification .accreditation-number,
.cambridge-certification .verification-number {
    /* Add some left margin to align the text properly */
    margin-left: 10px;
}